@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply scroll-smooth bg-base-300;

  font-family: "Inter Variable", "Vazirmatn Variable", ui-sans-serif, system-ui,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
}
